POSTGRES_USER=admin_shopee
POSTGRES_PASSWORD=sua_senha_blindada
POSTGRES_DB=estudio_shopee
DB_HOST=localhost
DB_PORT=5433
TZ=America/Sao_Paulo

PGADMIN_DEFAULT_EMAIL=admin@estudio.com
PGADMIN_DEFAULT_PASSWORD=admin

SHOPEE_PARTNER_ID=seu_partner_id
SHOPEE_PARTNER_KEY=sua_partner_key
SHOPEE_SHOP_ID=seu_shop_id
SHOPEE_REFRESH_TOKEN=seu_token_de_acesso

GROQ_API_KEY=sua_chave_groq
RUNPOD_API_KEY=sua_chave_runpod
ENDPOINT_ID_RUNPOD_DADOS=id_do_endpoint
ENDPOINT_ID_RUNPOD_vLLM=id_do_endpoint_opcional
